<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @garden_group.name %>
</p>

<%= link_to 'Edit', edit_garden_group_path(@garden_group) %> |
<%= link_to 'Back', garden_groups_path %>
