<%- model_class = SectionYieldCategory -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => SectionYieldCategory %></h1>
</div>
<%= render :partial => 'form' %>
